.game-grid-container{
    padding: 1rem;
}

.game-grid-container .game-grid-tile{
    /* height: 25px;
    width: 25px; */
    height: 3rem;
    width: 3rem;
    border: 1px solid black;
    margin: 3px;
}

.game-grid-container .game-grid-tile.hit{
    border: 3px solid red;
}


@media only screen and (max-width: 480px) {
  .game-grid-container .game-grid-tile{
    height: 25px;
    width: 25px;
  }
}