.game-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.game-container .item{
    border: 2px solid red;
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 1rem;
}

.game-container .item.game{
    background-color: #777777;
    border-radius: 0.5rem;
}

.ready-button{
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: gray;
}
.ready-button.ready{
    background-color: green;
}


@media only screen and (max-width: 480px) {
  .game-container{
        /* display: grid; */
        grid-template-columns: 1fr;
    }
}